<% if @student.school_id.nil? %>
<h1>Student has not called HomeworkHotline this year!</h1>
<h2>Please fill out their personal info below</h2>
<%= render 'studentform', student: @student %>
<% else %>
<h1>Call Log</h1>
<%= render 'form', call_log: @call_log %>
<% end %>
