<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Adrianne,</h1>
    <h3>
      <%= @principal.schoolsystem %> County has filled out their information.<br>
      <%= link_to "Download School Names List", dlsnl_url(@principal.id) %><br>
      <%= link_to "Download Newly Adopted Books List", dlnab_url(@principal.id) %>
    </h3>
  </body>
</html>