<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Adrianne,</h1>
    <p>
      <%= @principal.schoolsystem %> County has filled out their information. View it <%= link_to "here", "https://app.homeworkhotline.info/principals/#{@principal.id}" %>
    </p>
  </body>
</html>