<%= render 'form', time_clock: @time_clock %>
<script type="text/javascript">
$(document).ready(function() {
  setTimeout(function() {
    $('form').submit();
 }, 2000);
});
</script>
<div class="one">
	<div class="two">
		<div class="three"></div>
	</div>
</div>
<style type="text/css">  .three {
    width: 20px;
    height: 20px;
    background-color: #45ef96;
    -webkit-animation:spin 8s ease-in-out infinite;
        -moz-animation:spin 8s ease-in-out infinite;
      animation:spin 8s ease-in-out infinite;
  }
  .two {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation:spin 4s ease-in-out infinite;
        -moz-animation:spin 4s ease-in-out infinite;
      animation:spin 4s ease-in-out infinite;
      display: -webkit-box;
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;  
  }
  @-moz-keyframes back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
  .one {
    width: 60px;
    height: 60px;
    background-color: #45ef96;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation:spin 2s ease-in-out infinite;
        -moz-animation:spin 2s ease-in-out infinite;
      animation:spin 2s ease-in-out infinite;
     display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;  
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>